/*
 * Base structure
 */

/* Move down content because we have a fixed navbar that is 3.5rem tall */
body {
  padding-top: 0;
}

/*
 * Typography
 */

h1 {
  padding-bottom: 1px;
  margin-bottom: 1px;
  border-bottom: 1px solid #eee;
}

/*
 * Sidebar
 */

.sidebar {
  position: fixed;
  top: 51px;
  bottom: 0;
  left: 0;
  z-index: 1000;
  padding: 20px 0;
  overflow-x: hidden;
  overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
  border-right: 1px solid #eee;
}

.sidebar .nav {
  margin-bottom: 10px;
}

.sidebar .nav-item {
  width: 50%;
}

.sidebar .nav-item + .nav-item {
  margin-left: 0;
}

.sidebar .nav-link {
  border-radius: 0;
}

/*
 * Dashboard
 */

/* Placeholders */
.placeholders {
  padding-bottom: 1rem;
}

.placeholder img {
  padding-top: 1rem;
  padding-bottom: 1.5rem;
}
.grid, .menu {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
}

/**
Grid size for menu
 */

@media only screen and (min-width: 768px) {
    /* tablets and desktop */
  .menu {
    grid-template-columns: repeat(5, 1fr) !important;
  }
}

@media only screen and (max-width: 767px) {
    /* phones */
  .menu {
    grid-template-columns: repeat(3, 1fr) !important;
  }
}

@media only screen and (max-width: 767px) and (orientation: portrait) {
    /* portrait phones */
  .menu {
    grid-template-columns: repeat(3, 1fr) !important;
  }
}



/**
End grid size for menu
 */

.menu-action {
  padding: 15px;

  text-align: center;
}
.menu-action:hover {
  background-color: antiquewhite;
}


.img-responsive{
  width: 120px; height: 120px
}