{% extends "admin/base_site.html" %}

{% load i18n static %}
{% load static %}


{% load static %}

{% block content %}

    <!-- Bootstrap core CSS -->
    {#   <link href= "{% static 'css/bootstrap.min.css' %}" rel="stylesheet">#}
    <!-- Custom styles for this template -->
    <link href="{% static 'css/dashboard.css' %}" rel="stylesheet">

    {#    <div>Iconos diseñados por <a href="http://www.freepik.com" title="Freepik">Freepik</a> desde <a href="https://www.flaticon.es/" title="Flaticon">www.flaticon.com</a> con licencia <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a></div>#}


    </head>
    <section>
        <h1>Menú principal</h1>
            <div class="menu">
        {% for key, menu in menus.items %}
                <a class="menu-action" href="{{ menu.url }}">
                    <div class="img">
                        <img src="{% static menu.img %} " class="img-responsive img-rounded ">
                        <h4>{{ menu.title }}</h4>
                        <span class="text-muted">{{ menu.desc }}</span>
                    </div>
                </a>

        {% endfor %}
            </div>
    </section>

{% endblock %}
